{% include 'base.html' %}

{% block style %}
<style>
.navbar{
  background-color:#BD0A0A;
  box-shadow: 2px 10px 10px rgba(25, 25, 25, 0.478);
}

.section{
  background-color:#650404;
  color:white;
  border-radius:5px;
}

.section:hover{
  background-color:#FF3737;
  color:white;
  border-radius:4px;
  box-shadow:2px 2px 2px 1px rgba(255, 255, 255, 0.478);
  cursor:pointer;
}


#name{
  background-color:#650404;
  box-shadow: 2px 10px 12px 4px rgba(25, 25, 25, 0.478);
  height:4rem;
  border-bottom-right-radius:10px;
  z-index:2;
}

#name span{
  font-family: 'Orbitron', sans-serif;
}

.nav-icon{
  z-index:7;
  cursor:pointer;
}

.navbar li{
  padding: 0.1em 1em;
  background-color: rgb(255, 255, 255);
}

#bg{
  transition: background 0.5s;
}

#bg>div>ul>li{
  display:none;
  animation: fadeIn 1s ease-in both;
  font-weight:300;
}

#bg>div>ul>li:nth-child(2) {
	animation-delay: 0.2s;
}
#bg>div>ul>li:nth-child(3) {
	animation-delay: 0.4s;
}
#bg>div>ul>li:nth-child(4) {
	animation-delay: 0.6s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

#section>li{
  display:none;
}
</style>

{% endblock %}

{% block body %}
<body>
  <div class="d-none align-items-center justify-content-center vw-100 vh-100" id="loading">
    <img src="" alt="Loading...">
  </div>
  
  <div id="bg" class="vh-100 vw-100" style="position:absolute;">
    <div class="fluid-container w-100 h-100">
      <ul class="d-flex align-items-center justify-content-center h-100 w-100 px-0 fw-semibold flex-column">
        <li class=" section px-3 py-2 my-2" onclick="display_converter(1);">Download Instagram DP</li>
        <li class=" section px-3 py-2 my-2" onclick="display_converter(2);">Download Youtube audio</li>
        <li class=" section px-3 py-2 my-2" onclick="display_converter(3);">Download Youtube video</li>
        <li class=" section px-3 py-2 my-2" onclick="display_converter(4);">Download Instagram Reel</li>
      </ul>
    </div>
  </div>

  <div class="d-flex">
    <div id="name" class=" d-flex text-light px-4 align-items-center">
      <span class="fs-3 text fw-bold" class="z-index:2;">OneZ</span>
    </div>
    <div class="navbar w-100 h-100 pt-3 pb-3 justify-content-end pe-3">
      <div class="nav-icon" id="nav-icon" onclick="toggle_navicon();">
        <div><li id="line1" value="close"></li></div>

        <div><li id="line2" class="mt-2"></li></div>
      </div>
    </div>
  </div>

  <div id="alert-msg">
    <h1 class="text-center">Please select a converter from the menu</h1>
  </div>

<ul id="section" class="px-0 py-0 d-flex align-items-center justify-content-center">
  <li class="px-0 py-0">
    <div class="align-items-center justify-content-center px-2 vw-100" id="downloadHDInstaDP">
      <div class="container w-100 mt-3 px-2 py-2" data-aos="zoom-in" data-aos-duration="2000" style="background-color:#BD0A0A">
        <form action="InstaDp/" method="POST">
          <div class="d-flex flex-column justify-content-start h-100 w-100 px-3 py-3">
            <p class="text-light my-0 mx-0" style="opacity:0.8;font-size:1em;">Enter Instagram account username</p>
            <input class="btn text-light w-100" type="text" id="ProfileLink" name="insta_id" placeholder="Paste insta account username here" style="background-color:black;opacity:0.5;">
          </div>
          <img src="" id="preview" class="w-100">
          <div class="d-flex align-items-center justify-content-end">
              {% csrf_token %}
              <input class="btn text-light" type="submit" value="Generate HD image" style="background-color:#650404" onclick="loading();">
          </div>
        </form>
      </div>
    </div>
  </li>

  <li class="px-0 py-0">
    <div class="align-items-center justify-content-start px-2 vw-100" id="downloadYTaudio">
      <div class="container w-100 mt-3 px-2 py-2" data-aos="zoom-in" data-aos-duration="2000" style="background-color:#BD0A0A">
        <form action="youtube_audio/" method="POST">
          <div class="d-flex flex-column justify-content-start h-100 w-100 px-3 py-3">
            <p class="text-light my-0 mx-0" style="opacity:0.8;font-size:1em;">Enter Youtube URL</p>
            <input class="btn text-light w-100" type="text" id="YouTubeLink" name="yt_link" placeholder="Paste youtube link here" style="background-color:black;opacity:0.5;">
          </div>
          <img src="" id="preview" class="w-100">
          <div class="d-flex align-items-center justify-content-end">       
              {% csrf_token %}
              <input class="btn text-light" type="submit" value="Get audio" style="background-color:#650404" onclick="loading();">
          </div>
        </form>
      </div>
    </div>
  </li>

  <li class="px-0 py-0">
    <div class="align-items-center justify-content-start px-2 vw-100" id="downloadYTaudio">
      <div class="container w-100 mt-3 px-2 py-2" data-aos="zoom-in" data-aos-duration="2000" style="background-color:#BD0A0A">
        <form action="youtube_video/" method="POST">
          <div class="d-flex flex-column justify-content-start h-100 w-100 px-3 py-3">
            <p class="text-light my-0 mx-0" style="opacity:0.8;font-size:1em;">Enter Youtube URL</p>
            <input class="btn text-light w-100" type="text" id="YouTubeLink" name="yt_link" placeholder="Paste youtube link here" style="background-color:black;opacity:0.5;">
          </div>
          <img src="" id="preview" class="w-100">
          <div class="d-flex align-items-center justify-content-end">       
              {% csrf_token %}
              <input class="btn text-light" type="submit" value="Get video" style="background-color:#650404" onclick="loading();">
          </div>
        </form>
      </div>
    </div>
  </li>


  <li class="px-0 py-0">
    <div class="align-items-center justify-content-start px-2 vw-100" id="downloadYTaudio">
      <div class="container w-100 mt-3 px-2 py-2" data-aos="zoom-in" data-aos-duration="2000" style="background-color:#BD0A0A">
        <form action="InstaReel/" method="POST">
          <div class="d-flex flex-column justify-content-start h-100 w-100 px-3 py-3">
            <p class="text-light my-0 mx-0" style="opacity:0.8;font-size:1em;">Enter Instagram reel link</p>
            <input class="btn text-light w-100" type="text" id="YouTubeLink" name="reel_link" placeholder="Paste insta reel link here" style="background-color:black;opacity:0.5;">
          </div>
          <img src="" id="preview" class="w-100">
          <div class="d-flex align-items-center justify-content-end">       
              {% csrf_token %}
              <input class="btn text-light" type="submit" value="Get video" style="background-color:#650404" onclick="loading();">
          </div>
        </form>
      </div>
    </div>
  </li>
</ul>



</body>
{% endblock %}

{% block script %}
<script>

  window.onload = (event)=>{
    toggle_navicon();
  };
 
  function toggle_navicon(){
    let line1_status = document.getElementById("line1").getAttribute("value");
    var bg = document.getElementById("bg");
    let line1 = document.getElementById("line1");
    let line2 = document.getElementById("line2");
    
    if (line1_status=="close"){
      bg.style.display="flex";
      bg.style.background = "black";
      bg.style.zIndex = 5;
      bg.style.opacity = 0.85;
      line1.setAttribute("value", "open");
      line1.style.transitionDuration = "1s";
      line1.style.transform = "rotate(45deg)";
      line1.style.marginTop = "12px";
      line2.style.transitionDuration = "1s";
      line2.style.transform = "rotate(-45deg)";
      line2.style.marginTop = "-2px";
      line2.classList.remove("mt-2");
      toggle_options("show");

    }
    else{
      bg.style.background = "none";
      bg.style.zIndex = 5;
      bg.style.display = "none";
      line1.setAttribute("value", "close");
      line1.style.transitionDuration = "1s";
      line1.style.transform = "rotate(0deg)";
      line1.style.marginTop = "0px";
      line2.style.transitionDuration = "1s";
      line2.style.transform = "rotate(0deg)";
      line2.classList.add("mt-2");
      line2.style.marginTop = "0px";
      toggle_options("hide");
    }
    
  }

  function toggle_options(value){
    var all_options = document.getElementsByClassName("section");
    if(value=="show"){
      for(i=0;i<all_options.length;i++){
        all_options[i].style.display="inline";
      }
    }
    else{
      for(i=0;i<all_options.length;i++){
        all_options[i].style.display="none";
      }
      
    }
    
  }

  function display_converter(id){
    toggle_navicon();
    document.getElementById('alert-msg').style.display = 'none';
    $("#section li").css("display","none");
    $("#section li:nth-child("+id+")").css("display","flex");
    AOS.init();
  }

</script>
{% endblock %}

</html>

