{% include 'base.html' %}
{% block style %}
<style>
    #main{
        border-radius:5vh;
        box-shadow: 3px 3px 10px 10px gray;
    }
    audio{
        box-shadow: 1px 2px 6px 3px #650404;
        /* background-color: ; */
        border-radius:5vh;
    }
</style>
{% endblock %}
{% block body %}
{% if audio_file %}
    <div class="d-flex align-items-center justify-content-center flex-column vh-100 vw-100">
        <div id="main" class="d-flex align-items-center justify-content-center flex-column px-3 py-3">
            <audio controls class="px-2 py-2">
                <source src="/media/audio/{{audio_file.0}}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <a href="" class="btn text-light my-2" download="/media/{{audio_file.0}}" style="background-color:#650404">Download</a>
        </div>
    </div>
{% endif %}
{{title}}
{% endblock %}